<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="la.xiong.mylibrary">

    <application android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="la.xiong.mylibrary.AppSettingsDialogHolderActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/EasyPermissions.Transparent"/>
    </application>

</manifest>
